<div class="container card mt-5">
    <h3 style="text-align: center; background-color: bisque;" class="p-2">FORM INFOMATION</h3>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(content)">
        <div class="row">

            <div class="col-md-6">
                <!-- frist name -->
                <div class="form-group">
                    <label>FristName</label>
                    <input formControlName="fristname" required type="text" class="form-control" placeholder="first name" [ngClass]="{ 'is-invalid':submited && f.fristname.errors }">
                    <div *ngIf="submited && f.fristname.errors" class="invalid-feedback">
                        <div *ngIf="f.fristname.errors.required">Frist name is required</div>
                        <div *ngIf="f.fristname.errors.maxlength">Frist name is more then 32 charator</div>
                    </div>
                    <small class="form-text text-muted">frist name</small>
                </div>
            </div>

            <div class="col-md-6">
                <!-- last name -->
                <div class="form-group">
                    <label>LastName</label>
                    <input formControlName="lastname" required type="text" class="form-control" aria-describedby="emailHelp" placeholder="last name" [ngClass]="{ 'is-invalid':submited && f.lastname.errors }">
                    <div *ngIf="submited && f.lastname.errors" class="invalid-feedback">
                        <div *ngIf="f.lastname.errors.required">Last name is required</div>
                        <div *ngIf="f.lastname.errors.maxlength">Last name is more then 32 charator</div>
                    </div>
                    <small class="form-text text-muted">last name</small>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <!-- email -->
                <div class="form-group">
                    <label>Email address</label>
                    <input formControlName="email" required type="email" class="form-control" placeholder="Enter email" [ngClass]="{ 'is-invalid':submited && f.email.errors }">
                    <div *ngIf="submited && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                    </div>
                    <small class="form-text text-muted">email</small>
                </div>
            </div>
        </div>

        <label for="exampleInputEmail1">Phone number</label><br>
        <div class="row">
            <div class="col-md-3">
                <!-- phone number -->
                <div class="form-group">
                    <input formControlName="areacode" type="text" class="form-control" placeholder="Area code" [ngClass]="{ 'is-invalid':submited && f.areacode.errors }">
                    <div *ngIf="submited && f.areacode.errors" class="invalid-feedback">
                        <div *ngIf="f.areacode.errors.required">AreaCode number is required</div>
                        <div *ngIf="f.areacode.errors.pattern">AreaCode number can't Character</div>
                    </div>
                    <small class="form-text text-muted">area number</small>
                </div>
            </div>

            <div class="col-md-9">
                <div class="form-group">
                    <input formControlName="phonenumber" type="text" class="form-control" placeholder="Phon number" [ngClass]="{ 'is-invalid':submited && f.phonenumber.errors }">
                    <div *ngIf="submited && f.phonenumber.errors" class="invalid-feedback">
                        <div *ngIf="f.phonenumber.errors.required">Phone number is required</div>
                        <div *ngIf="f.phonenumber.errors.pattern">Phone number can't Character</div>
                    </div>
                    <small class="form-text text-muted">phone number</small>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <!-- password -->
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" formControlName="passwords" class="form-control" [ngClass]="{ 'is-invalid': submited && f.passwords.errors }" />
                    <div *ngIf="submited && f.passwords.errors" class="invalid-feedback">
                        <div *ngIf="f.passwords.errors.required">Password is required</div>
                        <div *ngIf="f.passwords.errors.maxlength || f.passwords.errors.minlength">Password must be 8 to 120 charator</div>
                    </div>
                    <small class="form-text text-muted">password</small>
                </div>
            </div>

            <div class="col-md-6">
                <!-- confrim password -->
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input formControlName="confirmPassword" required type="password" class="form-control" placeholder="confrimPassword" [ngClass]="{ 'is-invalid':submited && f.confirmPassword.errors }">
                    <div *ngIf="submited && f.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmPassword.errors.required">Password is required</div>
                        <div *ngIf="f.confirmPassword.errors.maxlength || f.confirmPassword.errors.minlength">Password must be 8 to 120 charator</div>
                        <div *ngIf="f.confirmPassword.errors.checkConfrim">Passwords must match</div>
                    </div>
                    <small class="form-text text-muted">confirm password</small>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="exampleInputEmail1">Address</label>
                    <input formControlName="address" required type="text" class="form-control" placeholder="address" [ngClass]="{'is-invalid':submited && f.address.errors}">
                    <div *ngIf="submited && f.address.errors" class="invalid-feedback">
                        <div *ngIf="f.address.errors.required">Address is required.</div>
                    </div>
                    <small class="form-text text-muted">Street address</small>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input formControlName="addressLine" type="text" class="form-control" placeholder="address" [ngClass]="{'is-invalid':submited && f.addressLine.errors}">
                    <div *ngIf="submited && f.addressLine.errors" class="invalid-feedback">
                        <div *ngIf="f.addressLine.errors.required">Street address Line is required.</div>
                    </div>
                    <small class="form-text text-muted">Street address Line</small>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input formControlName="city" type="text" class="form-control" placeholder="City" [ngClass]="{'is-invalid':submited && f.city.errors}">
                    <div *ngIf="submited && f.city.errors" class="invalid-feedback">
                        <div *ngIf="f.city.errors.required">City is required.</div>
                    </div>
                    <small class="form-text text-muted">City</small>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <input formControlName="state" type="text" class="form-control" placeholder="State" [ngClass]="{'is-invalid':submited && f.state.errors}">
                    <div *ngIf="submited && f.state.errors" class="invalid-feedback">
                        <div *ngIf="f.state.errors.required">State is required.</div>
                    </div>
                    <small class="form-text text-muted">State</small>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <input formControlName="zip" type="text" class="form-control" placeholder="post/zip code" [ngClass]="{'is-invalid':submited && f.zip.errors}">
                    <div *ngIf="submited && f.zip.errors" class="invalid-feedback">
                        <div *ngIf="f.zip.errors.required">Post/Zip is required.</div>
                    </div>
                    <small class="form-text text-muted">post/zip code</small>
                </div>
            </div>

            <div class="col-md-6">
                <div class="input-group mb-3">
                    <select class="custom-select" id="inputGroupSelect02" formControlName="country" [ngClass]="{'is-invalid':submited && f.country.errors}">
                      <option selected value="Combodain">Combodain</option>
                      <option value="Korean">Korean</option>
                      <option value="Thailand">Thailand</option>
                    </select>
                    <div *ngIf="submited && f.country.errors" class="invalid-feedback">
                        <div *ngIf="f.country.errors.required">Country is required.</div>
                    </div>
                </div>
                <small class="form-text text-muted">Country</small>
            </div>

        </div>

        <!-- Date -->
        <div class="row">
            <div class="col-md-4">
                <select class="custom-select" formControlName="day" [ngClass]="{'is-invalid':submited && f.day.errors}">
                  <option value="{{value.day}}" *ngFor="let value of day">{{value.day}}</option>
              </select>
                <div *ngIf="submited && f.day.errors" class="invalid-feedback">
                    <div *ngIf="f.day.errors.required">Please selected.</div>
                </div>
                <small class="form-text text-muted">day</small>
            </div>

            <div class="col-md-4">
                <select class="custom-select" formControlName="month" [ngClass]="{'is-invalid':submited && f.month.errors}">
                <option value="{{value.month}}" *ngFor="let value of month">{{value.month}}</option>
              </select>
                <div *ngIf="submited && f.month.errors" class="invalid-feedback">
                    <div *ngIf="f.month.errors.required">Please selected.</div>
                </div>
                <small class="form-text text-muted">month</small>
            </div>

            <div class="col-md-4">
                <select class="custom-select" formControlName="year" [ngClass]="{'is-invalid':submited && f.year.errors}">
                  <option value="{{value.year}}" *ngFor="let value of year">{{value.year}}</option>
              </select>
                <div *ngIf="submited && f.year.errors" class="invalid-feedback">
                    <div *ngIf="f.year.errors.required">Please selected.</div>
                </div>
                <small class="form-text text-muted">year</small>
            </div>
        </div>

        <br>
        <p>Where did you hear about us?</p>
        <div *ngFor="let data of Check; let i=index">
            <label>
            <input type="checkbox" [value]="data.value" (change)="onCheckboxChange($event)" />
            {{data.name}}
          </label>
        </div>
        <p style="color: red;" *ngIf="this.formGroup.controls['checkArray'].errors?.required">
            Checkbox is required, select atleast one value.
        </p>
        <hr>
        <h6>Membership Rules</h6>
        <hr>
        <p>1.MemberShip is avalilable to anyone 18 years of age or older.</p>
        <p>2.Your permistion Not to use to conduct any fraudulent or business activity or have more than one Member Accoun at any time.</p>
        <br>
        <input type="checkbox" formControlName="agree" [ngClass]="{'is-invalid':submited && f.agree.errors}"> I have read.and accepted the rule for menber.<br>
        <div *ngIf="submited && f.agree.errors" class="invalid-feedback">
            <div *ngIf="f.agree.errors.required">Please seleted.</div>
        </div>
        <br>
        <h6>Privacy Policy</h6><br>
        <hr>
        <p>Please reach out and read out Privacy Policy in order to understand how your information is used and check below it you used or sheared,and check below it you accept the policy.</p>
        <br>
        <br>
        <input type="checkbox" formControlName="agrees" [ngClass]="{'is-invalid':submited && f.agrees.errors}"> I have read,understood, and accepted the PRIVACY POLICY for membership.<br>
        <div *ngIf="submited && f.agrees.errors" class="invalid-feedback">
            <div *ngIf="f.agrees.errors.required">Please seleted.</div>
        </div>
        <br>
        <br>
        <div style="text-align: center;">
            <p>One you submit your application ,we will contact ou shortly to complete your membership application</p>
            <p>Thank you</p>
        </div>
        <div style="text-align: center;">
            <button type="submit" class="btn btn-primary py-2 px-4 my-3">Submit</button>
        </div>
    </form>
</div>

<!-- modle -->
<ng-template #content let-c="close" let-d="dismiss" let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Information</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <p>Name: {{datas.fristname}} {{datas.lastname}}</p>
        <hr>
        <p>Email: {{datas.email}}</p>
        <hr>
        <p>Area code: {{datas.areacode}}</p>
        <hr>
        <p>Phone number: {{datas.phonenumber}}</p>
        <hr>
        <p>Address {{datas.address}}</p>
        <hr>
        <p>Address Line2: {{datas.addressLine}}</p>
        <hr>
        <p>Phone number: {{datas.phonenumber}}</p>
        <hr>
        <p>City: {{datas.city}}</p>
        <hr>
        <p>State: {{datas.state}}</p>
        <hr>
        <p>Posted/Zip Code: {{datas.zip}}</p>
        <hr>
        <p>Country: {{datas.country}}</p>
        <hr>
        <p>Date:<span>{{datas.day}}</span>-<span>{{datas.month}}</span>{{datas.year}}<span></span></p>
        <hr>
        <p>Where you hear about us ?</p>
        <ul *ngFor="let a of datas.checkArray">
            <li>{{a}}</li>
        </ul>
    </div>
</ng-template>
